.container {
    display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดกลางแนวนอน */
    /*align-items: center;*/ /* จัดกลางแนวตั้ง */
    height: 100vh; /* ความสูง 100% ของ viewport */
}

.background {
    background-color: #94abc8; /* สีพื้นหลังของกล่อง */
    padding: 10px; /* ช่องว่างภายในกล่อง (ปรับขนาดเพื่อลดขนาด padding) */
    width: 70%; /* ความกว้างของกล่อง */
    height: 500px; /* ความสูงของกล่อง */
    border-radius: 15px; /* ความมนของมุมกล่อง */
    transition: all 0.5s; /* การเปลี่ยนแปลงที่เรียบเนียนภายใน 0.5 วินาที */
}

.title-1-flex {
    display: flex;
    /* ใช้ Flexbox */
    justify-content: space-between;
    /* จัดให้ทั้งสองฝั่ง */
    align-items: center;
    /* จัดกลางแนวตั้ง */
}

.title-2-flex {
    display: flex;
    /* ใช้ Flexbox */
    gap: 16px;
    width: 80%;
    margin: 0 auto;
}

.form-flex {
    display: flex;
}

.text-1 {
    color: rgb(48, 48, 48);
    font-size: 30px;
}

.status-text {
    color: rgb(48, 48, 48);
    font-size: 20px;
    position: absolute;
    right: 240px;
    display: flex;
    justify-content: flex-end;
    /* จัดข้อความให้กลางแนวนอน */
    align-items: flex-end;
    /* จัดข้อความให้กลางแนวตั้ง */
}

.status-textbox {
    color: rgb(48, 48, 48);
    font-size: 20px;
    width: 140px;
    background-color: #bababa;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 55px;
    display: flex;
    justify-content: center;
    /* จัดข้อความให้กลางแนวนอน */
    align-items: center;
    /* จัดข้อความให้กลางแนวตั้ง */
}

.full-width-line {
    border-bottom: 2px solid #b9b9b9;
    /* สีขาวและความหนา 2px */
    width: 86%;
    /* ความกว้างเต็ม */
    position: absolute;
    align-items: center;
    /* จัดกลางแนวตั้ง */
}

.name-text {
    color: rgb(48, 48, 48);
    font-size: 20px;
}

.flex-form {
    display: flex;
    flex-direction: column;
    gap: 5px; /* ระยะห่างระหว่างแต่ละกลุ่มข้อมูล */
  }

.flex1 {
    display: flex;
    gap: 10px; /* เพิ่มช่องว่างระหว่างองค์ประกอบ */
}

  