.background {
    background-color: #6b6b6b; /* สีพื้นหลังของกล่อง */
    padding: 20px; /* ช่องว่างภายในกล่อง (ปรับขนาดเพื่อลดขนาด padding) */
    width: 990px; /* ความกว้างของกล่อง */
    height: 500px; /* ความสูงของกล่อง */
    border-radius: 15px; /* ความมนของมุมกล่อง */
    transition: all 0.5s; /* การเปลี่ยนแปลงที่เรียบเนียนภายใน 0.5 วินาที */
    /*display: flex;*/ /* ใช้ Flexbox */
    /*align-items: flex-start;*/ /* จัดกล่องแนวตั้งที่ด้านบนสุด */
    /*justify-content: flex-start;*/ /* จัดกล่องแนวนอนที่ด้านซ้ายสุด */
    /*overflow: auto;*/ /* จัดการการล้นของเนื้อหา (ถ้ามี) */

}

.text-container {
    display: flex; /* ใช้ Flexbox */
    justify-content: space-between; /* จัดให้ทั้งสองฝั่ง */
    align-items: center; /* จัดกลางแนวตั้ง */
    margin-bottom: 10px; /* ระยะห่างด้านล่าง */
}

.text-1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}


.text-2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 10px; /* ระยะห่างระหว่าง "สถานะ" กับ "รอดำเนินการ" */
    position: absolute;
    right: 200px;
}

.text-3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #bababa;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 40px;
}

.full-width-line {
    border-bottom: 2px solid #ffffff; /* สีขาวและความหนา 2px */
    width: 90%; /* ความกว้างเต็ม */
    position: absolute;
}
